# Bibliotecas de Processamento de Vídeo
ffmpeg-python
pytube
moviepy

# Reconhecimento e Processamento de Fala
git+https://github.com/openai/whisper.git
SpeechRecognition

# Frameworks de Machine Learning e Deep Learning
torch
transformers

# Indexação de Dados e Busca por Similaridade
faiss-gpu

# Bibliotecas PLN e APIs de IA
nltk
langchain
openai

# Framework de Aplicação Web
streamlit
